[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    margin-top: 6px;
    background-color: var(--background);
    color: var(--color);
}

.wrapper {
    margin-left: 70px;
    margin-top: 33px;
    display: flex;
    flex-direction: column;

}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}