.loader {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spinner 1.5s linear infinite;
    background: conic-gradient(from 90deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #512DE4 360deg);
}

.loader:before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: center;
    background-color: var(--background);
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    padding-top: 42px;
    padding-left: 73px;
}