.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-left: 70px;
}

.buttons {
    margin: 94px 400px 55px 0;
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-right: 106px;
}
