.burgerMenuIcon {
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 15px 70px;
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}